<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api news</title>
</head>
<body>
    
<h1>Api news fetching</h1>

{% for i in articles %}
<img src="{{ i.media }}" alt="" height="400px" width="600px">
{% if i.author %}
<p>{{ i.author }}</p>
{% endif %}
<p>{{ i.title }}</p>
<p>{{ i.published_date | slice:"0:10" }}</p>
<p>{{ i.published_date | slice:"10:" }}</p>
<p>{{ i.summary }}</p>
<a href="{{ i.link }}" target="_blank">Click Read More</a> 
<br>
<br>
<br>

{% endfor %}

</body>
</html>