{% extends 'ecommerce/ecincludes/ecbase.html' %}
{% load static %}

    {% block body %}

       
        
        {% block header %}
        
        <!-- Header Section -->
        {% include 'ecommerce/ecincludes/echeader.html' %}

        {% endblock %}
       

        <main>

            <!-- breadcrumb-area-start -->
            <div class="breadcrumb-area pt-125 pb-125" style="background-image:url(/static/ecom/imgecom/bg/04.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-wrapper">
                                <div class="breadcrumb-text">
                                    <h2>cart</h2>
                                </div>
                                <ul class="breadcrumb-menu">
                                    <li style="padding-right: 0px;"><a href="{% url 'shop' %}">shop </a><i class="fas fa-arrow-right"></i></li>
                                    <li><span>cart</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->
        <style>
        
        
            .button-16 {
                background-color: #f8f9fa;
                border: 1px solid #f8f9fa;
                border-radius: 4px;
                color: #3c4043;
                display: inline-block;
                cursor: pointer;
                font-family: arial,sans-serif;
                font-size: 14px;
                height: 36px;
                line-height: 27px;
                min-width: 54px;
                padding: 0 16px;
                text-align: center;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                white-space: pre;
              }
              
              .button-16:hover {
                border-color: #dadce0;
                box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
                color: #202124;
              }
              
              .button-16:focus {
                border-color: #4285f4;
                outline: none;
              }
        </style>
        <!-- Cart Area Strat-->
        <section class="cart-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                            <!-- <th class="product-remove">Remove</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td class="product-thumbnail"><a href="/shop/productdetails/{{ item.product.slug }}"><img src="{{ item.product.imageURL }}"
                                                        alt=""></a></td>
                                            <td class="product-name"><a href="/shop/productdetails/{{ item.product.slug }}">{{ item.product.name }}</a></td>
                                            <td class="product-price"><span class="amount">{{ item.product.price }}</span></td>
                                            <td class="quantity">
                                                <div>
                                                    <!-- <button class="button-14" role="button">Button 14</button> -->
                                                    <button data-product={{item.product.id}} data-action="remove" class="button-16 update-cart" role="button"><</button>
                                                    <!-- <a data-product={{item.product.id}} data-action="add" class="c-btn update-cart" href="#"><i class="fas fa-plus"></i></a> -->
                                                    <p class="nikquant">{{item.quantity}} </p> 
                                                    <!-- <img data-product="{{item.product.id}}" data-action="remove" class="c-btn update-cart" src="/static/ecom/imgecom/arrows/caret-down-solid.svg" width="20" height="25" alt=""> -->
                                                    <button data-product={{item.product.id}} data-action="add" class="button-16 update-cart" role="button">></button>
                                                    
                                                </div>
                                            </td>
                                            <td class="product-subtotal"><span class="amount">INR {{ item.get_total }}</span></td>
                                            <!-- <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td> -->
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                                placeholder="Coupon code" type="text">
                                            <button class="c-btn theme-btn-2" name="apply_coupon" type="submit">Apply
                                                coupon</button>
                                        </div>
                                        <div class="coupon2">
                                            <input class="c-btn theme-btn" name="update_cart" value="Update cart" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart totals</h2>
                                        <ul class="mb-20">
                                            <li>All Items <span>{{order.get_cart_items}}</span></li>
                                            <li>Total <span>INR {{order.get_cart_total}}</span></li>
                                        </ul>
                                        {% if user.is_authenticated %}
                                        <a class="c-btn theme-btn" href="{% url 'checkout'%}">Proceed to checkout</a>
                                        {% else %}
                                        <a class="c-btn theme-btn" href="{% url 'login'%}">Login to checkout</a>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Cart Area End-->

           

        </main>



    {% endblock %}  
        
   

   

  


