{% extends 'ecommerce/ecincludes/ecbase.html' %}
{% load static %}

    {% block body %}

       
        
        {% block header %}
        
        <!-- Header Section -->
        {% include 'ecommerce/ecincludes/echeader.html' %}

        {% endblock %}
       

        <main>

            <!-- breadcrumb-area-start -->
            <div class="breadcrumb-area pt-125 pb-125" style="background-image:url(/static/ecom/imgecom/bg/Self-checkout-pana.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-wrapper">
                                <div class="breadcrumb-text">
                                    <h2>Checkout</h2>
                                </div>
                                <ul class="breadcrumb-menu">
                                    <li style="padding-right: 0px;"><a href="{% url 'shop' %}">shop </a><i class="fas fa-arrow-right"></i></li>
                                    <li><span>Checkout</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <div class="ms-spacer-30"></div>
            <div class="ms-spacer-30"></div>
          

            <!-- checkout-area start -->
            <section class="checkout-area pb-70">
                <div class="container">
                    <form id="form" action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkbox-form">
                                    <h3>Billing Details</h3>
                                    <div class="row">
                                        <!-- <div class="col-md-12">
                                            <div class="country-select">
                                                <label>Country <span class="required">*</span></label>
                                                <select>
                                                    <option value="volvo">bangladesh</option>
                                                    <option value="saab">Algeria</option>
                                                    <option value="mercedes">Afghanistan</option>
                                                    <option value="audi">Ghana</option>
                                                    <option value="audi2">Albania</option>
                                                    <option value="audi3">Bahrain</option>
                                                    <option value="audi4">Colombia</option>
                                                    <option value="audi5">Dominican Republic</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label></label>
                                                <input type="text" name="name" placeholder="Your Name" required/>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label>Last Name <span class="required">*</span></label>
                                                <input type="text" placeholder="" />
                                            </div>
                                        </div> -->
                                        <!-- <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Company Name</label>
                                                <input type="text" placeholder="" />
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label></label>
                                                <input type="text" name="address" placeholder="Address" required/>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                            </div>
                                        </div> -->
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label></label>
                                                <input type="text" name="city" placeholder="Town / City" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label></label>
                                                <input type="text" name="state" placeholder="State" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label></label>
                                                <input type="text" name="pincode" placeholder="Pincode" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label></label>
                                                <input type="email" name="email" placeholder="Email Address" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list">
                                                <label></label>
                                                <input type="text" placeholder="Phone" required/>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="checkout-form-list create-acc">
                                                <input id="cbox" type="checkbox" />
                                                <label>Create an account?</label>
                                            </div>
                                            <div id="cbox_info" class="checkout-form-list create-account">
                                                <p>Create an account by entering the information below. If you are a returning
                                                    customer please login at the top of the page.</p>
                                                <label>Account password <span class="required">*</span></label>
                                                <input type="password" placeholder="password" />
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- <div class="different-address">
                                        <div class="ship-different-title">
                                            <h3>
                                                <label>Ship to a different address?</label>
                                                <input id="ship-box" type="checkbox" />
                                            </h3>
                                        </div>
                                        <div id="ship-box-info">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="country-select">
                                                        <label>Country <span class="required">*</span></label>
                                                        <select>
                                                            <option value="volvo">bangladesh</option>
                                                            <option value="saab">Algeria</option>
                                                            <option value="mercedes">Afghanistan</option>
                                                            <option value="audi">Ghana</option>
                                                            <option value="audi2">Albania</option>
                                                            <option value="audi3">Bahrain</option>
                                                            <option value="audi4">Colombia</option>
                                                            <option value="audi5">Dominican Republic</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                        <label>First Name <span class="required">*</span></label>
                                                        <input type="text" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                        <label>Last Name <span class="required">*</span></label>
                                                        <input type="text" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list">
                                                        <label>Company Name</label>
                                                        <input type="text" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list">
                                                        <label>Address <span class="required">*</span></label>
                                                        <input type="text" placeholder="Street address" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list">
                                                        <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list">
                                                        <label>Town / City <span class="required">*</span></label>
                                                        <input type="text" placeholder="Town / City" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                        <label>State / County <span class="required">*</span></label>
                                                        <input type="text" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                        <label>Postcode / Zip <span class="required">*</span></label>
                                                        <input type="text" placeholder="Postcode / Zip" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                        <label>Email Address <span class="required">*</span></label>
                                                        <input type="email" placeholder="" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                        <label>Phone <span class="required">*</span></label>
                                                        <input type="text" placeholder="Postcode / Zip" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-notes">
                                            <div class="checkout-form-list">
                                                <label>Order Notes</label>
                                                <textarea id="checkout-mess" cols="30" rows="10"
                                                    placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="your-order mb-30 ">
                                    <h3>Your order</h3>
                                    <div class="your-order-table table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-name">Product</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in items %}
                                                <tr class="cart_item">
                                                    <td class="product-name">
                                                        {{ item.product.name }} <strong class="product-quantity"> × {{item.quantity}}</strong>
                                                    </td>
                                                    <td class="product-total">
                                                        <span class="amount">INR {{ item.product.price }}</span>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <!-- <tr class="cart-subtotal">
                                                    <th>Cart Subtotal</th>
                                                    <td><span class="amount">$215.00</span></td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>Shipping</th>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <input type="radio" />
                                                                <label>
                                                                    Flat Rate: <span class="amount">$7.00</span>
                                                                </label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" />
                                                                <label>Free Shipping:</label>
                                                            </li>
                                                            <li></li>
                                                        </ul>
                                                    </td>
                                                </tr> -->
                                                <tr class="order-total">
                                                    <th>Order Total</th>
                                                    <td><strong><span class="amount">INR {{order.get_cart_total}}</span></strong>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div class="payment-method">
                                        <div class="accordion" id="accordionExample">
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <button class="btn-link" type="button" data-toggle="collapse"
                                                            data-target="#collapseOne" aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                            PayPal | credit/debit card
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <div id="paypal-button-container"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="order-button-payment mt-20">
                                            {% if user.is_authenticated %}
                                            <!-- <button id="make-payment" type="submit" class="c-btn theme-btn">Place order</button> -->
                                            {% else %}
                                            <a class="c-btn theme-btn" href="{% url 'login'%}">Login to Place Order</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <!-- checkout-area end -->


           

        </main>

        <!-- Card Type: Visa
            Card Number: 4032032016728773
            Expiration Date: 01/2023
            CVV: 694 -->

        <script src="https://www.paypal.com/sdk/js?client-id=AdzBuB0RrfOihxwaCmqJhUZJwXa4IqzqmIKHH30CCeTaZPIY0Ny8t2M4XgESrBD3Ul_N43-tJ0Kk5Dp1&currency=USD"></script>
        <script>
            var total = '{{order.get_cart_total}}'
            var usd = '{{order.get_cart_total}}'/76
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({
    
                // Set up the transaction
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: parseFloat(usd).toFixed(2)
                            }
                        }]
                    });
                },
    
                // Finalize the transaction
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {
                        // Successful capture! For demo purposes:
                        submitFormData()
                        // Replace the above to show a success message within this page, e.g.
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '';
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                }
    
    
            }).render('#paypal-button-container');
        </script>

        <script type="text/javascript">

            
            var shipping = 'true'
            var eemail = form.email.value
            var nname = form.name.value

                //document.getElementById('make-payment').addEventListener('click', function(e){
                //e.preventDefault()
                //submitFormData() 
           //})
            function submitFormData(){
                console.log('Payment button clicked')
                

                var userFormData = {
                    'name':nname,
                    'email':eemail,
                    'total':total,
                }

                var shippingInfo = {
                    'address':null,
                    'city':null,
                    'state':null,
                    'pincode':null,
                }

                if (shipping != 'False'){
                    shippingInfo.address = form.address.value
                    shippingInfo.city = form.city.value
                    shippingInfo.state = form.state.value
                    shippingInfo.pincode = form.pincode.value
                }
    
                if (user == 'AnonymousUser'){
                    userFormData.name = form.name.value
                    userFormData.email = form.email.value
                }
                
                var url = "process_order/"
	    	    fetch(url, {
	    		    method:'POST',
	    		    headers:{
	    			    'Content-Type':'applicaiton/json',
	    			    'X-CSRFToken':csrftoken,
	    		    }, 
	    		    body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	    })
	    	    .then((response) => response.json())
	    	    .then((data) => {
				    console.log('Success:', data);
				    alert('Transaction completed');  
                    cart = {}
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                    window.location.href = "{% url 'shop' %}"

				})

            }
        </script>


    {% endblock %}  
        