<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <img src="/static/images/4_cropped.png" class="img-fluid" alt="Footer Logo">
                <div class="ms-footer-seperator mt-5"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 col-md-3 mb-4 mb-md-auto">
                <h5 class="text-white fw-bold mb-4">General Inquiries</h5>
                <p><a href="mailto:singh.makhan24@gmail.com">info@coroso.com</a></p>
                <p><a href="tel:+12345671313">+1 234 567 1313</a></p>
                <p>1525 Saint Marys, Chicago</p>
                <p>New York</p>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-auto">
                <h5 class="text-white fw-bold mb-4">About Us</h5>
                <p><a href="home_one.html">Home V1</a></p>
                <p><a href="home_two.html">Home V2</a></p>
                <p><a href="faq.html">FAQs</a></p>
                <p><a href="contact.html">Contact Us</a></p>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="text-white fw-bold mb-4">Resources</h5>
                <p><a href="news_grid.html">News Grid</a></p>
                <p><a href="news_full.html">News Full</a></p>
                <p><a href="news_full_sidebar.html">News Full Sidebar</a></p>
                <p><a href="news_detail.html">News Detail</a></p>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="text-white fw-bold mb-4">Products</h5>
                <p><a href="shop.html">Shop Page</a></p>
                <p><a href="shop_detail.html">Shop Detail</a></p>
                <p><a href="team.html">Team</a></p>
                <p><a href="cart.html">Cart</a></p>
            </div>
        </div>
        <div class="ms-spacer-60"></div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <h2 class="text-white fw-bold text-center mb-4">Subscribe to Newsletter</h2>
                <form class="form-group mb-0 position-relative">
                    <div class="form-group mb-0">
                        <input type="email" placeholder="Enter your email...">
                    </div>
                    <button type="submit" class="btn ms-primary-btn position-absolute"><i class="far fa-envelope-open me-2"></i>Subscribe</button>
                </form>                        
            </div>
        </div>
        <!-- <div class="ms-spacer-70"></div> -->
        <div class="row my-5">
            <div class="offset-md-3 col-md-6">
                <ul class="d-flex justify-content-center ps-0 mb-0">
                    <li>
                        <a href="https://github.com/nikhiltavar" target="_blank"><i class="fab fa-github icon"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/TheNikhilTavar" target="_blank"><i class="fab fa-twitter icon"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/nikhil-tavar-385708230/" target="_blank"><i class="fab fa-linkedin-in icon"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/thenikhiltavar/" target="_blank"><i class="fab fa-instagram icon"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="ms-spacer-90"></div> -->
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <span class="copyright">Copyright By @Covicare - 2022</span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#." class="me-4">Privacy Policy</a>
                <a href="#.">Terms & Conditions</a>
            </div>
        </div>
    </div>
</footer>  

