<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10 text-center">
                <img src="/static/images/4_cropped.png" class="img-fluid" alt="Footer Logo">
                <div class="ms-footer-seperator mt-5"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 col-md-3 mb-4 mb-md-auto">
                <h5 class="text-white fw-bold mb-4">Covicare</h5>
                <p>Thanks For Visiting Our Site 'Covicare' is</p>
                <p> the most generous platform which puts </p>
                <p>the customer's needs and first provides</p>
                <p>100% customer satisfaction</p>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-auto">
                <h5 class="text-white fw-bold mb-4">Services</h5>
                <p><a href="{% url 'centres' %}">Covid Centres</a></p>
                <p><a href="{% url 'blog' %}">Blog</a></p>
                <p><a href="{% url 'news' %}">News</a></p>
                <p><a href="{% url 'shop' %}">Shop</a></p>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="text-white fw-bold mb-4">Blogs</h5>
                
                <p><a href="/blog/post/keeping-kids-healthy-going-back-to-school">Keeping Kids Healthy Going Back …</a></p>
                <p><a href="/blog/post/poverty-and-food-insecurity-could-grow-dramaticall">Poverty and food insecurity could …</a></p>
                <p><a href="/blog/post/trust-in-science-and-in-government-plays-a-crucial">Trust in science and in …</a></p>
                <p><a href="/blog/post/social-safety-nets-are-crucial-to-the-covid-19-res">Social safety nets are crucial …</a></p>
                
            </div>
            <div class="col-6 col-md-3">
                <h5 class="text-white fw-bold mb-4">Products</h5>
                <p><a href="/shop/productdetails/lab-n95-face-mask">Lab N95 Face Mask</a></p>
                <p><a href="/shop/productdetails/covid-19-hand-gloves">Covid -19 Hand Gloves</a></p>
                <p><a href="/shop/productdetails/hand-sanitizer-covid-19">Ciphands Antiseptic Hand Sanitizer</a></p>
                <p><a href="/shop/productdetails/medical-thermometer">Omron MC-246 Thermometer</a></p>
            </div>
        </div>
        <div class="ms-spacer-60"></div>
        
        <!-- <div class="ms-spacer-70"></div> -->
        <div class="row my-5">
            <div class="offset-md-3 col-md-6">
                <ul class="d-flex justify-content-center ps-0 mb-0">
                    <li>
                        <a href="https://github.com/nikhiltavar/covicare" target="_blank"><i class="fab fa-github icon"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/TheNikhilTavar" target="_blank"><i class="fab fa-twitter icon"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/nikhil-tavar-385708230/" target="_blank"><i class="fab fa-linkedin-in icon"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/thenikhiltavar/" target="_blank"><i class="fab fa-instagram icon"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="ms-spacer-90"></div> -->
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <span style="color: #ffffff;" class="copyright">Copyright By @Covicare - 2022</span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a style="color: #ffffff;" class="me-4">Made With 💗 In India</a>
            </div>
        </div>
    </div>
</footer>  

