<header class="ms-inner-page-header" >
  <div class="container-fluid">              
      <div class="row align-items-center">
          <div class="col-4 col-md-3 col-lg-2">
              <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/3cropped.png" alt="Logo" class="img-fluid"/></a>
          </div>
          <div class="col-12 col-md-9 col-lg-8 d-flex justify-content-lg-center justify-content-end">
              <nav class="navbar navbar-expand-md">                            
                  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hamburgernavmenucontent" aria-controls="hamburgernavmenucontent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="menu_toggle">
                          <span class="hamburger">
                              <span></span>
                              <span></span>
                              <span></span>
                          </span>
                          <span class="hamburger-cross">
                              <span></span>
                              <span></span>
                          </span>
                      </span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-center" id="hamburgernavmenucontent">
                    <ul class="navbar-nav align-items-lg-center">
                        <!-- <li class="dropdown nav-item">
                                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="home_one.html" role="button"
                                                          aria-haspopup="true" aria-expanded="false">HOME</a>
                                                      <div class="dropdown-menu">
                                                          <a class="dropdown-item" href="home_one.html">HOME V1</a>
                                                          <a class="dropdown-item" href="home_two.html">HOME V2</a>
                                                          <a class="dropdown-item" href="home_three.html">HOME V3</a>
                                                      </div>
                                                  </li> -->
        
                                                  <li class="nav-item"><a href="/">HOME</a></li>
                                                  <li class="nav-item"><a href="{% url 'centres' %}">COVID CENTERS</a></li>
                                                  <li class="nav-item"><a href="{% url 'news' %}">NEWS</a></li>
                                                  <li class="nav-item"><a href="{% url 'blog' %}">BLOG</a></li>
                                                  <li class="nav-item"><a href="{% url 'shop' %}">SHOP</a></li>
                                                  <li class="dropdown nav-item">
                                                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="home_one.html" role="button"
                                                        aria-haspopup="true" aria-expanded="false">MORE</a>
                                                    <div class="dropdown-menu">
                                                        {% if request.user.is_authenticated %}
                                                        <a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a>
                                                        
                                                        {% endif %}
                                                        <a class="dropdown-item" href="{% url 'cart' %}">CART</a>
                                                  </li>
                        <!-- <li class="dropdown nav-item">
                                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="home_one.html" role="button"
                                                          aria-haspopup="true" aria-expanded="false">PAGES</a>
                                                      <div class="dropdown-menu">
                                                          <a class="dropdown-item" href="team.html">OUR TEAM</a>
                                                          <a class="dropdown-item" href="faq.html">FAQ</a>
                                                          <a class="dropdown-item" href="cart.html">CART</a>
                                                          <a class="dropdown-item" href="404_error.html">404 ERROR</a>
                                                          <a class="dropdown-item" href="testimonial.html">TESTIMONIALS</a>
                                                      </div>
                                                  </li> -->
                        <!-- <li class="dropdown nav-item">
                                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'news' %}"
                                                          role="button" aria-haspopup="true" aria-expanded="false">NEWS</a>
                                                      <div class="dropdown-menu">
                                                          <a class="dropdown-item" href="{% url 'news' %}">NEWS FULL</a>
                                                          <a class="dropdown-item" href="news_full_sidebar.html">NEWS FULL WITH SIDEBAR</a>
                                                          <a class="dropdown-item" href="news_grid.html">NEWS GRID</a>
                                                          <a class="dropdown-item" href="news_grid_sidebar.html">NEWS GRID WITH SIDEBAR</a>
                                                          <a class="dropdown-item" href="news_list.html">NEWS LIST</a>
                                                          <a class="dropdown-item" href="news_list_sidebar.html">NEWS LIST WITH SIDEBAR</a>
                                                          <a class="dropdown-item" href="news_masonry.html">NEWS MASONRY</a>
                                                          <a class="dropdown-item" href="news_detail.html">NEWS DETAIL</a>
                                                      </div>
                                                  </li> -->
                        <!-- <li class="dropdown nav-item">
                                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="shop.html" role="button"
                                                          aria-haspopup="true" aria-expanded="false">SHOP</a>
                                                      <div class="dropdown-menu">
                                                          <a class="dropdown-item" href="shop.html">SHOP</a>
                                                          <a class="dropdown-item" href="shop_detail.html">SHOP DETAIL</a>
                                                      </div>
                                                  </li> -->
                      </ul>
                  </div>
              </nav>
          </div>
          <div class="col-md-0 col-lg-2 d-flex align-items-center justify-content-end">
              <div class="icons d-none d-lg-block">
                {% if request.user.is_authenticated %}
                <a style="color: #091e3f; font-weight: bold;"><i class="fas fa-user ms-header-icon"></i> {{request.user|capfirst}} </a>
                {% else %}
                <a style="color: #091e3f; font-weight: bold;" href="{% url 'login' %}"> LOGIN </a>
                <a style="color: #091e3f; font-weight: bold; display: inline; padding-left: 11px;" href="{% url 'signup' %}"> SIGNUP </a>
                {% endif %}
          </div>
      </div>       
  </div>    
</header>