{% extends 'base.html' %}
{% load static %}

    {% block body %}

        {% block wrapper %}

             <!-- Body Wrapper -->
            <div class="overflow-hidden grey-body-bg">

        {% endblock %}
        
        {% block header %}
        
        <!-- Header Section -->
        {% include 'includes/header.html' %}

        {% endblock %}

         <!-- breadcrumb-area-start -->
         <div class="breadcrumb-area pt-125 pb-125" style="background-image:url(/static/images/doctor-reading-coronavirus-patient-medical-chart.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-text">
                                <h2>BLOG</h2>
                            </div>
                            <ul class="breadcrumb-menu">
                                <li><a href="index.html">home</a><i class="fas fa-arrow-right"></i></li>
                                <li><span>BLOG</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->

        <!-- Banner Section -->
        <!-- <section class="inner-bnr extra-space">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-white">
                        <h1 class="hero-text">News.</h1>
                        <h5 ><a href="home_one.html" class="text-white">Home</a> - News Full With Sidebar</h5>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Blogs Section -->
        <section class="pad-100 mx-2">
            <h2 class="d-none">Dummy Heading, not in use</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="primary-content-area text-center">
                            {% for item in post %}
                            <article>
                                <div class="ms-image-sec">
                                    <img src="{{ item.img.url }}" class="img-fluid" alt="News Image">
                                </div>
                                <div class="ms-content-area bg-white">
                                    <span class="ms-title-15 me-4"><a href="#.">{{ item.created_date | timesince }} ago</a></span>
                                    {% for cat in item.categaries.all %}
                                    <span class="ms-title-15"> <a href="#.">{{ cat.name }}</a>,</span>
                                    {% endfor %}
                                    <h4 class="fw-bold mt-3 mb-4 ms-news-title"><a href="news_detail.html">{{ item.title }}</a></h4>
                                    <p>{{ item.desc | striptags | truncatewords:50 }}</p>
                                    <a href="/blog" class="btn ms-primary-btn mt-4">Read More</a>
                                </div>
                            </article>
                            {% endfor %}

                            
                            <div class="ms-spacer-30"></div>
                            {% if post.has_previous %}
                            <a href="/blog/?page=1" class="btn ms-primary-btn"> First</a>
                            <a href="/blog/?page={{post.previous_page_number}}" class="btn ms-primary-btn"> <i class="fas fa-arrow-left"></i></a>
                            {% endif %}
                            
                            <a href="/blog/?page={{post.number}}" class="btn ms-primary-btn"> {{post.number}}</a>
                            
                            <!-- <a href="news_grid.html" class="btn ms-primary-btn"> 4</a>
                            <a href="news_grid.html" class="btn ms-primary-btn"> 5</a>
                            <a href="news_grid.html" class="btn ms-primary-btn"> 6</a>
                            <a href="news_grid.html" class="btn ms-primary-btn"> 7</a>
                            <a href="news_grid.html" class="btn ms-primary-btn"> 8</a>
                            <a href="news_grid.html" class="btn ms-primary-btn"> 9</a> -->
                            {% if post.has_next %}
                            <a href="/blog/?page={{post.next_page_number}}" class="btn ms-primary-btn"> <i class="fas fa-arrow-right"></i></a>
                            <a href="/blog/?page={{lastpage}}" class="btn ms-primary-btn"> Last</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="secondary-content-area">
                            <section class="widget widget-search">
                                <h2 class="d-none">Dummy Heading, not in use</h2>
                                <form class="position-relative">
                                    <input class="form-control" type="search" placeholder="Type here..." aria-label="Search">
                                    <button class="btn ms-search-btn position-absolute" type="submit">Search</button>
                                </form>
                            </section>
                            <section class="widget widget-post">
                                <h4 class="fw-bold mb-4">Recent Posts</h4>
                                <ul class="ps-0">
                                    {% for item in latest %}    
                                    <li>
                                        <div class="row">
                                            <div class="col-3 col-md-2 col-lg-4">
                                                <img src="{{ item.img.url }}" class="img-fluid" alt="Image">
                                            </div>
                                            <div class="col-9 col-md-10 col-lg-8 ps-0">
                                                <h5 class="fw-bold"><a href="news_detail.html">{{ item.title | truncatewords:6 }}</a></h5>
                                                <span class="ms-title-15 me-3"><a href="#.">{{ item.created_date | timesince }} ago</a></span><span class="ms-title-15"><a href="#.">COVID-19</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </section>
                            <section class="widget widget-categories">
                                <h4 class="fw-bold mb-4">Categories</h4>
                                <ul class="ps-0">
                                    <li class="py-3">
                                        <span class="fw-bold"><a href="#.">Health</a></span>
                                        <span class="fw-bold float-end color-text">(12)</span>
                                    </li>
                                    <li class="py-3">
                                        <span class="fw-bold"><a href="#.">Corona Virus</a></span>
                                        <span class="fw-bold float-end color-text">(08)</span>
                                    </li>
                                    <li class="py-3">
                                        <span class="fw-bold"><a href="#.">COVID - 19</a></span>
                                        <span class="fw-bold float-end color-text">(23)</span>
                                    </li>
                                    <li class="py-3">
                                        <span class="fw-bold"><a href="#.">Prevention</a></span>
                                        <span class="fw-bold float-end color-text">(43)</span>
                                    </li>
                                    <li class="py-3">
                                        <span class="fw-bold"><a href="#.">Virus</a></span>
                                        <span class="fw-bold float-end color-text">(16)</span>
                                    </li>
                                </ul>
                            </section>
                            <section class="widget widget-tags">
                                <h4 class="fw-bold mb-4">Tags</h4>
                                <ul class="ps-0">
                                    <li class="d-inline"><a href="#." class="btn ms-tag-btn active">Global</a></li>
                                    <li class="d-inline"><a href="#." class="btn ms-tag-btn">COVID - 19</a></li>
                                    <li class="d-inline"><a href="#." class="btn ms-tag-btn">Virus</a></li>
                                    <li class="d-inline"><a href="#." class="btn ms-tag-btn">WHO</a></li>
                                    <li class="d-inline"><a href="#." class="btn ms-tag-btn">World Health</a></li>
                                </ul>
                            </section>
                            <section class="widget">
                                <div class="ms-checkup-bg text-center">
                                    <img src="/static/images/Health Care Logo.svg" class="img-fluid" alt="Image">
                                    <p class="fw-bold text-white my-4">LET'S HELP YOU!</p>
                                    <h3 class="text-white mb-5">Call For Free Checkup</h3>
                                    <a href="contact.html" class="btn ms-secondary-btn"><i class="fas fa-phone-alt me-2"></i> Call For Help</a>
                                </div>
                            </section>
                        </aside>
                    </div>
                </div>
            </div>
        </section>

        <!-- Emergency Contact Section -->
        <section id="ms-emergency-sec" class="bg-white pad-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="bg-img text-white">
                            <h2 class="fw-bold mb-3">Emergency Contact.</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
                            <div class="ms-spacer-30"></div>
                            <a href="contact.html" class="btn ms-secondary-btn me-md-2 mb-3 mb-md-auto"><i class="fas fa-phone-alt me-2"></i> Call For Help</a>
                            <a href="team.html" class="btn ms-secondary-btn mb-3 mb-md-auto"><i class="fas fa-user me-2"></i> Meet Doctor</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        
       

    {% endblock %}  
