{% extends 'base.html' %}
{% load static %}

    {% block body %}

        {% block wrapper %}

             <!-- Body Wrapper -->
            <div class="overflow-hidden grey-body-bg">

        {% endblock %}
        
        {% block header %}
        
        <!-- Header Section -->
        {% include 'includes/header.html' %}

        {% endblock %}

        <style>

           
            button {
                border: none;
                display: inline-block;
                position: relative;
                padding: 0.4em 1em;
                font-size: 19px;
                background: transparent;
                cursor: pointer;
                user-select: none;
                overflow: hidden;
                color: #091e3f;
                z-index: 1;
                font-family: inherit;
                font-weight: 500;
            }
            
            button span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                z-index: -1;
                border: 4px solid #091e3f;
            }
            
            button span::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 8%;
                height: 500%;
                background: var(--lightgray);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-60deg);
                transition: all 0.3s;
            }
            
            button:hover span::before {
                transform: translate(-50%, -50%) rotate(-90deg);
                width: 100%;
                background: #091e3f;
            }
            
            button:hover {
                color: white;
            }
            
            button:active span::before {
                background: #091e3f;
            }

           
    

        </style>

         <!-- breadcrumb-area-start -->
         <div class="breadcrumb-area pt-125 pb-125" style="background-image:url(/static/images/doctor-reading-coronavirus-patient-medical-chart.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-text">
                                <h2>BLOG</h2>
                            </div>
                            <ul class="breadcrumb-menu">
                                <li><a href="{% url 'home' %}">home</a><i class="fas fa-arrow-right"></i></li>
                                <li><span>BLOG</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

        <!-- Blogs Section -->
        <section class="pad-100 mx-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="primary-content-area text-center">
                            <article class="no-hover-shadow ms-news-detail-page">
                                <div class="ms-image-sec">
                                    <img src="{{ post.img.url }}" class="img-fluid" alt="News Main Image">
                                </div>
                                <div class="ms-content-area bg-white">
                                    <span class="ms-title-15 me-4"><a href="#.">APRIL 11, 2020</a></span>
                                        {% for cat in post.categories.all %}
                                        <span class="ms-title-15"> <a href="#.">{{ cat }}</a></span>
                                        {% endfor %}
                                        <!-- <span class="ms-title-15"> <a href="{% url 'updatepost' slug=post.slug %}">Update</a></span> -->
                                        <!-- <span class="ms-title-15"> <a href="{% url 'deletepost' slug=post.slug %}">Delete</a></span> -->
                                        <!-- <a class="bn39" href="{% url 'deletepost' slug=post.slug %}"><span class="bn39span">Delete</span></a> -->
                                    <h4 class="fw-bold mt-3 ms-news-title">{{ post.title }}</h4>
                                    <p class="mb-5">{{ post.desc | safe }}</p>
                                  
                                </div>
                            </article>
                            <div class="row align-items-center">
                                <div class="col-md-6 text-center text-md-start">
                                    <!-- <a href="{% url 'blog' %}" class="btn ms-primary-btn">All News</a> -->
                                    
                                    <a href="{% url 'blog' %}"><button>All News<span></span></button></a>
                                    <a href="{% url 'deletepost' slug=post.slug %}"><button>Delete<span></span></button></a>
                                </div>
                                <div class="col-md-6 text-center text-md-end mt-4 mt-md-0">
                                    <p class="fw-bold mb-0 d-inline me-4">Share the News:</p>
                                    <a href="https://www.facebook.com/sharer.php?u=http://127.0.0.1:8000/blog/post/{{ post.slug }}" target="_blank"  class="news-share-icon"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/share?url=http://127.0.0.1:8000/blog/post/{{ post.slug }}&text={{ post.title }}" target="_blank" class="news-share-icon"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/shareArticle?url=http://127.0.0.1:8000/blog/post/{{ post.slug }}&title={{ post.title }}" target="_blank" class="news-share-icon"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="ms-spacer-80"></div>
                            
                        </div>  
                    </div>
                    {% include "blog/sidebar.html" %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ms-related-posts">
                            <h2 class="fw-bold mb-4">More interesting news</h2>
                            <article class="bg-white">
                                <div class="row">
                                    <div class="col-md-5 pe-md-0">
                                        <div class="ms-image-sec">
                                            <img src="/static/images/news_detail_001.jpg" class="img-fluid" alt="News Image">
                                        </div>
                                    </div>
                                    <div class="col-md-7 ps-md-0">
                                        <div class="ms-content-area bg-white">
                                            <span class="ms-title-15 me-4"><a href="#.">APRIL 11, 2020</a></span><span class="ms-title-15"><a href="#.">HEALTH</a>, <a href="#.">COVID-19</a></span>
                                            <h4 class="fw-bold mt-3 ms-news-title"><a href="news_detail.html">Coronavirus pandemic. a disinfectant in a protective suit and mask sprays</a></h4>
                                            <div class="ms-spacer-40"></div>
                                            <a href="news_detail.html" class="btn ms-primary-btn mt-4">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                         <div class="ms-spacer-30"></div>

                  

                        </div>
                    </div>
                </div>
        </section>

        <!-- Emergency Contact Section -->
        <section id="ms-emergency-sec" class="bg-white pad-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="bg-img text-white">
                            <h2 class="fw-bold mb-3">Emergency Contact.</h2>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
                            <div class="ms-spacer-30"></div>
                            <a href="contact.html" class="btn ms-secondary-btn me-md-2 mb-3 mb-md-auto"><i class="fas fa-phone-alt me-2"></i> Call For Help</a>
                            <a href="team.html" class="btn ms-secondary-btn mb-3 mb-md-auto"><i class="fas fa-user me-2"></i> Meet Doctor</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        
       

    {% endblock %}  
