<!-- JS here -->
<script src="/static/ecom/jsecom/vendor/modernizr-3.5.0.min.js"></script>
<script src="/static/ecom/jsecom/vendor/jquery-1.12.4.min.js"></script>
<script src="/static/ecom/jsecom/popper.min.js"></script>
<script src="/static/ecom/jsecom/bootstrap.min.js"></script>
<script src="/static/ecom/jsecom/owl.carousel.min.js"></script>
<script src="/static/ecom/jsecom/isotope.pkgd.min.js"></script>
<script src="/static/ecom/jsecom/slick.min.js"></script>
<script src="/static/ecom/jsecom/jquery.meanmenu.min.js"></script>
<script src="/static/ecom/jsecom/ajax-form.js"></script>
<script src="/static/ecom/jsecom/wow.min.js"></script>
<script src="/static/ecom/jsecom/waypoints.min.js"></script>
<script src="/static/ecom/jsecom/jquery.appear.js"></script>
<script src="/static/ecom/jsecom/jquery.countdown.min.js"></script>
<script src="/static/ecom/jsecom/jquery.knob.js"></script>
<script src="/static/ecom/jsecom/jquery.counterup.min.js"></script>
<script src="/static/ecom/jsecom/jquery.scrollUp.min.js"></script>
<script src="/static/ecom/jsecom/imagesloaded.pkgd.min.js"></script>
<script src="/static/ecom/jsecom/jquery.magnific-popup.min.js"></script>
<script src="/static/ecom/jsecom/plugins.js"></script>
<script src="/static/ecom/jsecom/main.js"></script>
<script src="/static/ecom/fontawesome/js/all.min.js"></script>
<script src="/static/ecom/jsecom/cart.js"></script>