<footer>
    <div class="footer-area pt-80 pb-45">
        <div class="container">
            <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-6">
                      <div class="footer-wrapper mb-30">
                          <h3 class="footer-title">About Company</h3>
                          <div class="footer-text">
                              <p>But must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born </p>
                          </div>
                          <div class="footer-icon">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                              <a href="#"><i class="fab fa-google-plus-g"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6">
                      <div class="footer-wrapper ml-80 mb-30">
                          <h3 class="footer-title">Useful Links</h3>
                          <div class="footer-link">
                              <ul>
                                  <li><a href="about.html">Shipping Options</a></li>
                                  <li><a href="our-history.html">My Wishlist</a></li>
                                  <li><a href="about.html">My Account</a></li>
                                  <li><a href="team.html">Return Policy</a></li>
                                  <li><a href="about.html">Shopping FAQs</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6">
                      <div class="footer-wrapper ml-80 mb-30">
                          <h3 class="footer-title">Product</h3>
                          <div class="footer-link">
                              <ul>
                                  <li><a href="about.html">Thermometer</a></li>
                                  <li><a href="our-history.html">Vitamins & Supplements</a></li>
                                  <li><a href="about.html">Temperature Gun</a></li>
                                  <li><a href="team.html">Oxygen Mmeter & Mask</a></li>
                                  <li><a href="about.html">Shipping & Returns</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6">
                      <div class="footer-wrapper ml-130 mb-30">
                          <h3 class="footer-title">Payment</h3>
                          <div class="footer-img">
                              <img src="assets/img/footer/footer.png" alt="">
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
  <div class="footer-bottom-area mr-70 ml-70 pt-25 pb-25">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="copyright">
                      <p>Copyright <i class="far fa-copyright"></i> 2020 <a href="#">Medibazar</a>. All Rights Reserved</p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="footer-bottom-link f-right">
                      <ul>
                          <li><a href="#">Home </a></li>
                          <li><a href="#"> About Us</a></li>
                          <li><a href="#">Our Product</a></li>
                          <li><a href="#">Service </a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </footer>