<!-- header-start -->
<header>
    <div class="header-top-area pl-165 pr-165">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-6">
                    <div class="header-top-wrapper">
                        <div class="header-top-info d-none d-xl-block f-left">
                            <span><i class="fas fa-heart"></i> Welcome to Medibazae. We provides <a href="#">Covid-19 </a>medical accessories</span>
                        </div>
                        <div class="header-link f-left">
                            <span><a href="#"><i class="fas fa-phone"></i> +123 (456) 7879</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="header-top-right text-md-right">
                       <div class="shop-menu">
                           <ul>
                               <li><a href="register.html"><i class="fas fa-user-circle"></i> My Account</a></li>
                               <li><a href="{% url 'cart' %}"><i class="fas fa-cart-plus"></i> Cart({{ cartitems }})</a></li>
                               <!-- <li><a href="wishlist.html"><i class="fas fa-heart"></i> Wishlist</a></li> -->
                           </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-menu-area menu-01 pl-165 pr-165">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3">
                    <div class="logo">
                        <a href="index.html"><img src="/static/images/3cropped.png" alt=""  class="pl-60 pr-60" /></a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 d-none d-lg-block">
                    <div class="header-right f-right">
                        
                        <div class="header-search f-right d-none d-xl-block">
                            <form class="header-search-form">
                                <input placeholder="Search" type="text">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li ><a href="index.html">home</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="index.html">home 1</a></li>
                                        <li><a href="index-2.html">home 2</a></li>
                                        <li><a href="index-3.html">home 3</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="shop-grid.html">Shop</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="shop-grid.html">shop grid</a>
                                        <li><a href="shop-full-width.html">shop full width</a>
                                        <li><a href="shop-04-column.html">shop 04 column</a>
                                        <li><a href="shop-left-02-column.html">shop left 02 column</a>
                                        <li><a href="shop-left-sidebar.html">shop left sidebar</a>
                                        <li><a href="shop-right-sidebar.html">shop right sidebar</a>
                                        <li><a href="product-details.html">product details</a>
                                        <li><a href="wishlist.html">wishlist</a>
                                        <li><a href="checkout.html">checkout</a>
                                        <li><a href="cart.html">cart</a>
                                        <li><a href="login.html">login</a>
                                        <li><a href="register.html">register</a>

                                    </ul>
                                </li>
                                <li><a href="shop-grid.html">Categories </a></li>
                                <li><a href="blog-grid.html">Blog</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="blog-grid.html">blog grid</a></li>
                                        <li><a href="blog-grid-sidebar.html">blog grid sidebar</a></li>
                                        <li><a href="blog-standard.html">blog standardr</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">pages</a>
                                    <ul class="sub-menu text-left">
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">contact</a></li>
                              
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="extra-info">
        <div class="close-icon">
            <button>
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="logo-side mb-30">
            <a href="index.html">
                <img src="/static/ecom/imgecom/logo/white-logo.png" alt="" />
            </a>
        </div>
        <div class="side-info mb-30">
            <div class="contact-list mb-30">
                <h4>Office Address</h4>
                <p>123/A, Miranda City Likaoli
                    Prikano, Dope</p>
            </div>
            <div class="contact-list mb-30">
                <h4>Phone Number</h4>
                <p>+0989 7876 9865 9</p>
                <p>+(090) 8765 86543 85</p>
            </div>
            <div class="contact-list mb-30">
                <h4>Email Address</h4>
                <p>info@example.com</p>
                <p>example.mail@hum.com</p>
            </div>
        </div>
        <div class="instagram">
            <a href="#">
                <img src="/static/ecom/imgecom/portfolio/p1.jpg" alt="">
            </a>
            <a href="#">
                <img src="/static/ecom/imgecom/portfolio/p2.jpg" alt="">
            </a>
            <a href="#">
                <img src="/static/ecom/imgecom/portfolio/p3.jpg" alt="">
            </a>
            <a href="#">
                <img src="/static/ecom/imgecom/portfolio/p4.jpg" alt="">
            </a>
            <a href="#">
                <img src="/static/ecom/imgecom/portfolio/p5.jpg" alt="">
            </a>
            <a href="#">
                <img src="/static/ecom/imgecom/portfolio/p6.jpg" alt="">
            </a>
        </div>
        <div class="social-icon-right mt-20">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-google-plus-g"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div> -->
</header>
<!-- header-end -->