{% extends 'base.html' %} {% load static %} {% block body %} {% block wrapper %}

<div id="homepage-one" class="overflow-hidden">
  {% endblock %} {% block header %}

  <style>
    user {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  </style>
  <!-- Header Section -->
  <header class="position-absolute">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-4 col-md-3 col-lg-2">
          <a class="navbar-brand" href=""
            ><img
              src="/static/images/home-logo.png"
              alt="Logo"
              class="img-fluid"
          /></a>
        </div>
        <div
          class="
            col-12 col-md-9 col-lg-8
            d-flex
            justify-content-lg-center justify-content-end
          "
        >
          <nav class="navbar navbar-expand-md">
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#hamburgernavmenucontent"
              aria-controls="hamburgernavmenucontent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="menu_toggle">
                <span class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                <span class="hamburger-cross">
                  <span></span>
                  <span></span>
                </span>
              </span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-center"
              id="hamburgernavmenucontent"
            >
              <ul class="navbar-nav align-items-lg-center">
                <!-- <li class="dropdown nav-item">
                                              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="home_one.html" role="button"
                                                  aria-haspopup="true" aria-expanded="false">HOME</a>
                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="home_one.html">HOME V1</a>
                                                  <a class="dropdown-item" href="home_two.html">HOME V2</a>
                                                  <a class="dropdown-item" href="home_three.html">HOME V3</a>
                                              </div>
                                          </li> -->

                <li class="nav-item"><a href="/">HOME</a></li>
                <li class="nav-item"><a href="{% url 'centres' %}">COVID CENTERS</a></li>
                <li class="nav-item"><a href="{% url 'news' %}">NEWS</a></li>
                <li class="nav-item"><a href="{% url 'blog' %}">BLOG</a></li>
                <li class="nav-item"><a href="{% url 'shop' %}">SHOP</a></li>
                <li class="dropdown nav-item">
                  <a class="dropdown-toggle" data-bs-toggle="dropdown" href="home_one.html" role="button"
                      aria-haspopup="true" aria-expanded="false">MORE</a>
                  <div class="dropdown-menu">
                      {% if request.user.is_authenticated %}
                      <a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a>
                      
                      {% endif %}
                      <a class="dropdown-item" href="{% url 'cart' %}">CART</a>
                </li>
                <!-- <li class="dropdown nav-item">
                                              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'news' %}"
                                                  role="button" aria-haspopup="true" aria-expanded="false">NEWS</a>
                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="{% url 'news' %}">NEWS FULL</a>
                                                  <a class="dropdown-item" href="news_full_sidebar.html">NEWS FULL WITH SIDEBAR</a>
                                                  <a class="dropdown-item" href="news_grid.html">NEWS GRID</a>
                                                  <a class="dropdown-item" href="news_grid_sidebar.html">NEWS GRID WITH SIDEBAR</a>
                                                  <a class="dropdown-item" href="news_list.html">NEWS LIST</a>
                                                  <a class="dropdown-item" href="news_list_sidebar.html">NEWS LIST WITH SIDEBAR</a>
                                                  <a class="dropdown-item" href="news_masonry.html">NEWS MASONRY</a>
                                                  <a class="dropdown-item" href="/blog/post/{{ item.slug }}">NEWS DETAIL</a>
                                              </div>
                                          </li> -->
                <!-- <li class="dropdown nav-item">
                                              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="shop.html" role="button"
                                                  aria-haspopup="true" aria-expanded="false">SHOP</a>
                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="shop.html">SHOP</a>
                                                  <a class="dropdown-item" href="shop_detail.html">SHOP DETAIL</a>
                                              </div>
                                          </li> -->
              </ul>
            </div>
          </nav>
        </div>
        <div
          class="
            col-md-0 col-lg-2
            d-flex
            align-items-center
            justify-content-end
          "
        >
          <!-- <div class="rightheader d-none d-lg-block">
            <a href="{% url 'shop' %}">LOGIN</a>-->
            {% if request.user.is_authenticated %}
            <a style="color: white; font-weight: bold;"><i class="fas fa-user ms-header-icon text-white"></i> {{request.user|capfirst}} </a>
            {% else %}
            <a style="color: white; font-weight: bold;" href="{% url 'login' %}"> LOGIN </a>
            <a style="color: white; font-weight: bold; display: inline; padding-left: 11px;" href="{% url 'signup' %}"> SIGNUP </a>
            {% endif %}
            <!--<a href="cart.html"><i class="fas fa-shopping-cart ms-header-icon text-white"></i></a>
          </div> -->
        </div>
      </div>
    </div>
  </header>

  {% endblock %}
  <!-- Banner Section -->
  <section id="ms-bnr-sec" class="position-relative">
    <div class="ms-home-bnr d-flex align-items-center py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-white">
            <p class="d-inline-block ms-bnr-tag fw-bold p-2 px-4 mb-4">
              Coronavirus (Covid-19)
            </p>
            <h1 class="mb-0 hero-text">Stay Safe.</h1>
            <h1 class="mb-4 hero-text">Wear Mask.</h1>
            <h5 class="fw-bold">
            It's Not Over Yet!
            Covid Battle is not over yet
            Necessary Precautions should be taken
            </h5>
            <div class="ms-spacer-30"></div>
            <a href="" class="btn ms-secondary-btn ms-hero-btn"
              >Discover More</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- Live Update Section -->
   <section id="ms-update-sec" class="pad-97">
    <div class="container">
        <div class="live-update bg-white">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="fw-bold mb-5">Live Update</h2>
                </div>
                <div class="col-md-4 text-center mb-5 mb-md-0">
                    <img src="/static/images/icon-01.png" class="img-fluid" alt="Icon">
                    <p class="fw-bold mt-3 mb-0">Confirmed Cases</p>
                    <span class="fw-bold blue-text">{{tracker.TotalCases}}</span>
                </div>
                <div class="col-md-4 text-center mb-5 mb-md-0">
                    <img src="/static/images/icon-02.png" class="img-fluid" alt="Icon">
                    <p class="fw-bold mt-3 mb-0">Total Recovered</p>
                    <span class="fw-bold green-text">{{tracker.TotalRecovered}}</span>
                </div>
                <div class="col-md-4 text-center">
                    <img src="/static/images/icon-03.png" class="img-fluid" alt="Icon">
                    <p class="fw-bold mt-3 mb-0">Confirmed Deaths</p>
                    <span class="fw-bold red-text">{{tracker.TotalDeaths}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="seperator-line mb-2">COVID-19</p>
                <h2 class="fw-bold text-white mb-3">What is Coronavirus?</h2>
                <p class="update-para">Coronaviruses are a type of virus. There are many different kinds, and some cause disease. A coronavirus identified in 2019, SARS-CoV-2, 
                  has caused a pandemic of respiratory illness, called COVID-19.</p>
                <div class="ms-spacer-30"></div>
                <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus" target="_blank"  class="btn ms-red-btn ms-icon-btn">About More <img class="ps-2" src="/static/images/arrow_right_white.svg" width="35" alt="Icon"></a>
            </div>
        </div>
    </div>
    </section>

    <div class="ms-spacer-30"></div>

  <!-- About Section -->
  <section id="ms-abt-sec">
    <div class="ms-abt-img">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 class="hero-text">About</h2>
            <h2 class="hero-text">Corona.</h2>
            <h4 class="fw-bold mb-4">
              Coronavirus disease (COVID-19) is an infectious disease caused 
              by the SARS-CoV-2 virus.
            </h4>
            <p>
              The virus can spread from an infected person’s mouth or nose in
              small liquid particles when they cough, sneeze, speak, sing or 
              breathe. These particles range from larger respiratory droplets
              to smaller aerosols.
            </p>
            <div class="ms-spacer-30"></div>
            <!-- <a
              href="contact.html"
              class="btn ms-primary-btn me-2 mb-3 mb-md-auto"
              >Contact Us</a
            >
            <a href="team.html" class="btn ms-secondary-btn mb-3 mb-md-auto"
              >Meet Doctor</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Choose Us Section -->
  <section id="ms-choose-sec" class="ms-sec-pad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center mb-4 mb-lg-auto">
          <img
            src="/static/images/why-choose-us-image.png"
            class="img-fluid"
            alt="Image"
          />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bold mb-0">COVID-19</h2>
          <h2 class="fw-bold">Prevention</h2>
          <h5>
            You can protect yourself and help prevent spreading the coronavirus (COVID-19) to 
            others if you do all the step shown as this infographics. 
            You can safe from coronavirus and safe other if you are affected
          </h5>
          <div class="ms-spacer-30"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="ms-icon-box">
                <img
                  src="/static/images/why-choose-us-icon.png"
                  class="img-fluid mb-2"
                  alt="Icon"
                />
                <p>
                  Wash your hands frequently and regularly with an alcohol based 
                  hand rub or wash them with soap and water.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ms-icon-box">
                <img
                  src="/static/images/why-choose-us-icon.png"
                  class="img-fluid mb-2"
                  alt="Icon"
                />
                <p>
                  Wear sergical mask and avoid touching face. Hands touch many surfaces and can pick up viruses once contaminated.
                </p>
              </div>
            </div>
          </div>
          <div class="ms-spacer-30 second"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="ms-icon-box">
                <img
                  src="/static/images/why-choose-us-icon.png"
                  class="img-fluid mb-2"
                  alt="Icon"
                />
                <p>
                  Use alcohol based hand sanitizer or soap when you wash your hands. Keep wash yor hands at least 20 minute during handwash.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ms-icon-box">
                <img
                  src="/static/images/why-choose-us-icon.png"
                  class="img-fluid mb-2"
                  alt="Icon"
                />
                <p>
                  Please maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



 

<!-- Coronavirus Symptoms Section -->
<section id="home-three-symptoms-sec" class="pad-100  pb-0">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <span class="three-subheading">SYMPTOMS</span>
              <h2 class="fw-bold mb-4">Corona Virus Symptoms</h2>
          </div>
      </div>
      <div class="ms-spacer-80"></div>
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="ms-three-symptom-box position-relative">
                  <img src="/static/images/home_three_symptoms_001.png" class="img-fluid position-absolute symptom-img" alt="Image">
                  <h4 class="fw-bold mb-4">Coughing</h4>
                  <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum  dummy text.</p>
                  <a href="https://en.wikipedia.org/wiki/Cough" target="_blank" class="fw-bold text-white">More <i class="fas fa-long-arrow-alt-right ms-right-arrow"></i></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="ms-three-symptom-box position-relative">
                  <img src="/static/images/home_three_symptoms_002.png" class="img-fluid position-absolute symptom-img" alt="Image">
                  <h4 class="fw-bold mb-4">Pneumonio</h4>
                  <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum  dummy text.</p>
                  <a href="https://en.wikipedia.org/wiki/Pneumonia" target="_blank" class="fw-bold text-white">More <i class="fas fa-long-arrow-alt-right ms-right-arrow"></i></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="ms-three-symptom-box position-relative">
                  <img src="/static/images/home_three_symptoms_003.png" class="img-fluid position-absolute symptom-img" alt="Image">
                  <h4 class="fw-bold mb-4">Vomiting</h4>
                  <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum  dummy text.</p>
                  <a href="https://en.wikipedia.org/wiki/Vomiting" target="_blank" class="fw-bold text-white">More <i class="fas fa-long-arrow-alt-right ms-right-arrow"></i></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="ms-three-symptom-box position-relative">
                  <img src="/static/images/home_three_symptoms_004.png" class="img-fluid position-absolute symptom-img" alt="Image">
                  <h4 class="fw-bold mb-4">Fever</h4>
                  <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum  dummy text.</p>
                  <a href="https://www.mayoclinic.org/diseases-conditions/fever/symptoms-causes/syc-20352759" target="_blank" class="fw-bold text-white">More <i class="fas fa-long-arrow-alt-right ms-right-arrow"></i></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="ms-three-symptom-box position-relative">
                  <img src="/static/images/home_three_symptoms_005.png" class="img-fluid position-absolute symptom-img" alt="Image">
                  <h4 class="fw-bold mb-4">Shivering</h4>
                  <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum  dummy text.</p>
                  <a href="https://en.wikipedia.org/wiki/Shivering" target="_blank" class="fw-bold text-white">More <i class="fas fa-long-arrow-alt-right ms-right-arrow"></i></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="ms-three-symptom-box position-relative">
                  <img src="/static/images/home_three_symptoms_006.png" class="img-fluid position-absolute symptom-img" alt="Image">
                  <h4 class="fw-bold mb-4">Diarrhea</h4>
                  <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum  dummy text.</p>
                  <a href="https://www.mayoclinic.org/diseases-conditions/diarrhea/symptoms-causes/syc-20352241" target="_blank" class="fw-bold text-white">More <i class="fas fa-long-arrow-alt-right ms-right-arrow"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>


    <!-- New Blog section -->
  <section id="home-two-blog-sec" class="pad-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="seperator-line mb-2">OUR BLOG</p>
                <h2 class="fw-bold mb-3">Blog Updates</h2>
            </div>
        </div>
        <div class="ms-spacer-30"></div>
        <div class="row">
          {% for item in latest %} 
            <div class="col-md-4">
                <div class="ms-main-box position-relative">
                    <div class="ms-blog-box">
                        <div class="content-overlay">
                            <div class="content-button">
                                <a href="/blog/post/{{ item.slug }}" class="btn ms-red-btn">Read Article</a>
                            </div>
                        </div>
                        <img src="{{ item.img.url }}" height="300px" width="500px"  alt="Image">                                
                    </div>
                    <h4 class="fw-bold mt-4"><a href="/blog/post/{{ item.slug }}">{{ item.title | truncatewords:5 }}</a></h4>
                    <p class="ms-title-15 mb-0">{{ item.created_date | timesince }} ago</p>
                    <p class="ms-title-15 ms-vertical-text">Health, COVID-19</p>
                </div>                        
            </div>
          {% endfor %} 
        </div>
    </div>
</section>




  <!-- Contact Section -->
  <section id="ms-contact-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-6 text-white text-center text-md-start">
          <h2 class="fw-bold mb-0">How Can We</h2>
          <h2 class="fw-bold">Help?</h2>
        </div>
        <div class="col-md-8 col-lg-6">
          <div class="contact-info">
            <div class="row">
              <div class="col-md-6">
                <p class="mb-2">Covid Helpline</p>
                <h5 class="fw-bold mb-0"><a href="tel:1075">1075</a></h5>
              </div>
              <div class="col-md-6">
                <p class="mb-2">Emergency Contact</p>
                <h5 class="fw-bold mb-0">
                  <a href="mailto:ncov2019@gov.in">NCOV2019@gov.in</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</div>
