{% load static %}
{% include 'header.html' %}


<body>

    <!-- Banner Section -->
    <section id="ms-bnr-sec" class="position-relative">
        <div class="ms-home-bnr d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-white">
                        <p class="d-inline-block ms-bnr-tag fw-bold p-2 px-4 mb-4">Coronavirus (Covid-19)</p>
                        <h1 class="mb-0 hero-text">Stay Safe.</h1>
                        <h1 class="mb-4 hero-text">Stay Home.</h1>
                        <h5 class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt.</h5>
                        <div class="ms-spacer-30"></div>
                        <a href="about.html" class="btn ms-secondary-btn ms-hero-btn">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="ms-abt-sec">
        <div class="ms-abt-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="hero-text">About</h2>
                        <h2 class="hero-text">Corona.</h2>
                        <h4 class="fw-bold mb-4">Coronavirus disease (COVID-19) is an infectious disease caused by a
                            newly
                            discovered coronavirus.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum
                            suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <div class="ms-spacer-30"></div>
                        <a href="contact.html" class="btn ms-primary-btn me-2 mb-3 mb-md-auto">Contact Us</a>
                        <a href="team.html" class="btn ms-secondary-btn mb-3 mb-md-auto">Meet Doctor</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Choose Us Section -->
    <section id="ms-choose-sec" class="ms-sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center mb-4 mb-lg-auto">
                    <img src="/static/images/why-choose-us-image.png" class="img-fluid" alt="Image">
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bold mb-0">Why Choose</h2>
                    <h2 class="fw-bold">Us.</h2>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.</h5>
                    <div class="ms-spacer-30"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ms-icon-box">
                                <img src="/static/images/why-choose-us-icon.png" class="img-fluid mb-2" alt="Icon">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ms-icon-box">
                                <img src="/static/images/why-choose-us-icon.png" class="img-fluid mb-2" alt="Icon">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ms-spacer-30 second"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ms-icon-box">
                                <img src="/static/images/why-choose-us-icon.png" class="img-fluid mb-2" alt="Icon">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ms-icon-box">
                                <img src="/static/images/why-choose-us-icon.png" class="img-fluid mb-2" alt="Icon">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Featured Products -->
    <section id="ms-featured" class="ms-sec-pad">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 text-center">
                    <h2 class="fw-bold mb-0">Featured</h2>
                    <h2 class="fw-bold">Products.</h2>
                    <h5 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</h5>
                </div>
            </div>
            <div class="ms-spacer-30"></div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a href="shop_detail.html">
                        <div class="ms-shop-box position-relative">
                            <img src="/static/images/product-01.jpg" class="img-fluid position-relative"
                                alt="Product Image">
                            <div class="ms-hover">
                                <span class="btn add-cart-btn">ADD TO CART - $49</span>
                            </div>
                            <div class="ms-box-content text-center">
                                <h4 class="fw-bold mb-0">Lorem Ipsum</h4>
                                <p><i class="fas fa-star rating"></i><i class="fas fa-star rating"></i><i
                                        class="fas fa-star rating"></i><i class="fas fa-star rating"></i><i
                                        class="fas fa-star rating"></i> <span class="ms-2">449 Reviews</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="shop_detail.html">
                        <div class="ms-shop-box position-relative">
                            <img src="/static/images/product-02.jpg" class="img-fluid position-relative"
                                alt="Product Image">
                            <div class="ms-hover">
                                <span class="btn add-cart-btn">ADD TO CART - $49</span>
                            </div>
                            <div class="ms-box-content text-center">
                                <h4 class="fw-bold mb-0">Lorem Ipsum</h4>
                                <p><i class="fas fa-star rating"></i><i class="fas fa-star rating"></i><i
                                        class="fas fa-star rating"></i><i class="fas fa-star rating"></i><i
                                        class="fas fa-star-half rating"></i> <span class="ms-2">449 Reviews</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="shop_detail.html">
                        <div class="ms-shop-box position-relative">
                            <img src="/static/images/product-03.jpg" class="img-fluid position-relative"
                                alt="Product Image">
                            <div class="ms-hover">
                                <span class="btn add-cart-btn">ADD TO CART - $49</span>
                            </div>
                            <div class="ms-box-content text-center">
                                <h4 class="fw-bold mb-0">Lorem Ipsum</h4>
                                <p><i class="fas fa-star rating"></i><i class="fas fa-star rating"></i><i
                                        class="fas fa-star rating"></i><i class="fas fa-star rating"></i><i
                                        class="fas fa-star rating"></i> <span class="ms-2">449 Reviews</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 text-center">
                    <a href="shop.html" class="btn ms-primary-btn me-2">Shop All</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Protect Section -->
    <section id="ms-protect-sec">
        <div class="ms-bg-img"></div>
        <div class="container">
            <div class="protect-container">
                <div class="row">
                    <div class="col-md-6 text-white">
                        <div class="protect-box">
                            <h2 class="fw-bold mb-0">Protect</h2>
                            <h2 class="fw-bold">Yourself.</h2>
                            <div class="ms-spacer-70"></div>
                            <div id="counter" class="row">
                                <div class="col-6 mb-4 mb-lg-5">
                                    <h3 class="fw-bold mb-0 counter-value" data-count="{{tracker.confirmed}}">0</h3>
                                    <h5 class="fw-bold">Confirmed Cases</h5>
                                </div>
                                <div class="col-6 mb-4 mb-lg-5">
                                    <h3 class="fw-bold mb-0 counter-value" data-count="{{tracker.deaths}}">0</h3>
                                    <h5 class="fw-bold">Confirmed Deaths</h5>
                                </div>
                                <div class="col-6 mb-4 mb-lg-5">
                                    <h3 class="fw-bold mb-0 counter-value" data-count="{{tracker.recovered}}">0</h3>
                                    <h5 class="fw-bold">Total Recovered</h5>
                                </div>
                                <div class="col-6 mb-4 mb-lg-5">
                                    <h3 class="fw-bold mb-0 counter-value" data-count="{{tracker.critical}}">0</h3>
                                    <h5 class="fw-bold">Critical</h5>
                                </div>
                            </div>
                            <span><i>* Last updated: {{ tracker.lastUpdate | slice:"0:10" }}
                                    {{ tracker.lastUpdate | slice:"11:16" }} UTC</i></span>
                        </div>
                    </div>
                    <div class="col-md-6 px-0 px-lg-1">
                        <div class="row text-white text-center g-0">
                            <div class="col-md-6">
                                <div class="icon-box avoid">
                                    <img src="/static/images/avoid-close-contact.png" class="img-fluid" alt="Image">
                                    <h5 class="fw-bold mt-3 mb-1">Avoid close</h5>
                                    <h5 class="fw-bold">contact</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box stay">
                                    <img src="/static/images/stay-at-home.png" class="img-fluid" alt="Image">
                                    <h5 class="fw-bold mt-3 mb-1">Stay at</h5>
                                    <h5 class="fw-bold">home</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box wear">
                                    <img src="/static/images/wear-facemask.png" class="img-fluid" alt="Image">
                                    <h5 class="fw-bold mt-3 mb-1">Wear a</h5>
                                    <h5 class="fw-bold">Facemask</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box clean">
                                    <img src="/static/images/clean-your-hands-often.png" class="img-fluid" alt="Image">
                                    <h5 class="fw-bold mt-3 mb-1">Clean your</h5>
                                    <h5 class="fw-bold">hands often</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section id="ms-testimonial-sec">
        <div class="bg-color"></div>
        <div class="container">
            <div class="testimonial-container">
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <h2 class="fw-bold mb-0">What</h2>
                        <h2 class="fw-bold mb-0">Our Client</h2>
                        <h2 class="fw-bold">Say.</h2>
                        <span class="fw-bold">NEXT</span>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="owl-carousel">
                            <div class="item testimonial-box">
                                <div class="clearfix">
                                    <div class="img-area">
                                        <img src="/static/images/1.jpg" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="position-area">
                                        <h5 class="fw-bold mb-0">Dwyane John</h5>
                                        <p>creative designer</p>
                                    </div>
                                </div>
                                <div class="ms-spacer-60"></div>
                                <h4 class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                                    lacus
                                    vel facilisis.</h4>
                                <div class="ms-spacer-30"></div>
                                <a href="#." class="btn ms-primary-btn me-2">Full Story</a>
                            </div>
                            <div class="item testimonial-box">
                                <div class="clearfix">
                                    <div class="img-area">
                                        <img src="/static/images/2.jpg" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="position-area">
                                        <h5 class="fw-bold mb-0">Selena Gomez</h5>
                                        <p>creative designer</p>
                                    </div>
                                </div>
                                <div class="ms-spacer-60"></div>
                                <h4 class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                                    lacus
                                    vel facilisis.</h4>
                                <div class="ms-spacer-30"></div>
                                <a href="#." class="btn ms-primary-btn me-2">Full Story</a>
                            </div>
                            <div class="item testimonial-box">
                                <div class="clearfix">
                                    <div class="img-area">
                                        <img src="/static/images/1.jpg" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="position-area">
                                        <h5 class="fw-bold mb-0">Nikhil Tavar</h5>
                                        <p>creative designer</p>
                                    </div>
                                </div>
                                <div class="ms-spacer-60"></div>
                                <h4 class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                                    lacus
                                    vel facilisis.</h4>
                                <div class="ms-spacer-30"></div>
                                <a href="#." class="btn ms-primary-btn me-2">Full Story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News Feed -->
    <section id="ms-news" class="ms-sec-pad">
        <h2 class="d-none">Dummy Heading, not in use</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <article class="no-hover-shadow">
                        <div class="row">
                            <div class="col-4 col-md-2 pe-1">
                                <img src="/static/images/news-01.png" class="img-fluid" alt="Image">
                            </div>
                            <div class="col-8 col-md-10">
                                <div class="meta-data">
                                    <p class="mb-2"><a href="#.">APRIL 11,2020</a> <span class="ms-3"><a
                                                href="#.">STUDIO</a></span></p>
                                </div>
                                <h3 class="fw-bold ms-news-title"><a href="news_detail.html">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit, sed do</a></h3>
                                <a href="news_detail.html">
                                    <div class="hover-icon"><i class="bi bi-arrow-right"></i></div>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="no-hover-shadow ">
                        <div class="row">
                            <div class="col-4 col-md-2 pe-1">
                                <img src="/static/images/news-02.png" class="img-fluid" alt="Image">
                            </div>
                            <div class="col-8 col-md-10">
                                <div class="meta-data">
                                    <p class="mb-2"><a href="#.">APRIL 11,2020</a> <span class="ms-3"><a
                                                href="#.">STUDIO</a></span></p>
                                </div>
                                <h3 class="fw-bold ms-news-title"><a href="news_detail.html">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit, sed do</a></h3>
                                <a href="news_detail.html">
                                    <div class="hover-icon"><i class="bi bi-arrow-right"></i></div>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4">
                    <h2 class="fw-bold mb-0">News</h2>
                    <h2 class="fw-bold">Feed.</h2>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.</h5>
                    <div class="ms-spacer-30"></div>
                    <a href="news_full_sidebar.html" class="btn ms-primary-btn me-2">Continue Reading</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Section -->
    <section id="ms-clients">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8 text-center">
                    <h2 class="fw-bold mb-0">Our</h2>
                    <h2 class="fw-bold">Clients.</h2>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.</h5>
                    <div class="bottom-shadow p-3">
                        <img src="/static/images/favicon.png" class="img-fluid" alt="Logo Image">
                    </div>
                </div>
            </div>
            <div class="ms-spacer-100"></div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-4 col-xl-auto">
                    <div class="square-shadow p-0 first-logo text-center">
                        <img src="/static/images/clinent-logo-1.png" class="img-fluid" alt="Logo Image">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-auto">
                    <div class="square-shadow p-0 second-logo text-center">
                        <img src="/static/images/clinent-logo-2.png" class="img-fluid" alt="Logo Image">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-auto">
                    <div class="square-shadow p-0 third-logo text-center">
                        <img src="/static/images/clinent-logo-3.png" class="img-fluid" alt="Logo Image">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-auto">
                    <div class="square-shadow p-0 fourth-logo text-center">
                        <img src="/static/images/clinent-logo-4.png" class="img-fluid" alt="Logo Image">
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-auto">
                    <div class="square-shadow p-0 fifth-logo text-center">
                        <img src="/static/images/clinent-logo-5.png" class="img-fluid" alt="Logo Image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="ms-contact-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-6 text-white text-center text-md-start">
                    <h2 class="fw-bold mb-0">How Can We</h2>
                    <h2 class="fw-bold">Help?</h2>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="contact-info">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-2">Emergency Contact</p>
                                <h5 class="fw-bold mb-0"><a href="#.">+1 234 567 890</a></h5>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Emergency Contact</p>
                                <h5 class="fw-bold mb-0"><a href="mailto:nikhiltavarcr7@gmail.com">nikhil@gmail.com</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

{% include 'footer.html' %}

</html>